<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') -%>
</head>

<body class="bg-info">
  <div class="row">
    <div class="wrapper col-md-6 offset-md-3">
      <h3>Add New Employee</h3>
      <form action="/admin/add-employee" method="POST" autocomplete="off">
        <!-- Full Name -->
        <div class="form-group">
          <label for="inputFullName">Full Name</label>
          <input type="text" class="form-control" id="inputFullName" name="fullName" value="<%= typeof(employee) !== 'undefined' ? employee.fullName : '' %>" placeholder="Please Enter Your Full Name">
          <% if (typeof(employee) !== 'undefined') { %>
          <div class="text-danger"><%= employee.fullNameError %></div>
          <% } %>
        </div>
        <!-- Email -->
        <div class="form-group">
          <label for="inputEmail1">Email</label>
          <input type="email" class="form-control" id="inputEmail1" name="email" value="<%= typeof(employee) !== 'undefined' ? employee.email : '' %>" placeholder="name@example.com" aria-describedby="emailHelp">
          <% if (typeof(employee) !== 'undefined') { %>
          <div class="text-danger"><%= employee.emailError %></div>
          <% } %>
        </div>
        <div class="form-row">
          <!-- Phone Number -->
          <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhoneNumber" name="phone" value="<%= typeof(employee) !== 'undefined' ? employee.phone : '' %>" placeholder="Phone Number">
            <% if (typeof(employee) !== 'undefined') { %>
            <div class="text-danger"><%= employee.phoneError %></div>
            <% } %>
          </div>
          <!-- City -->
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" value="<%= typeof(employee) !== 'undefined' ? employee.city : '' %>" placeholder="City">
            <% if (typeof(employee) !== 'undefined') { %>
            <div class="text-danger"><%= employee.cityError %></div>
            <% } %>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info"><i class="fas fa-database"></i> Submit</button>
          <a href="/admin/employees" class="btn btn-secondary"><i class="fas fa-th-list"></i> View All</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>